name: Manual Build LogVPN
on:
  workflow_dispatch: # 开启手动点击功能

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Build Vue and Electron
        run: |
          npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Installer
        uses: actions/upload-artifact@v3
        with:
          name: LogVPN-Final-EXE
          path: release/*.exe
