name: Final Build LogVPN
on:
  workflow_dispatch: # 允许我们手动点按钮运行

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: Build and Package
        # 强制运行你 package.json 里的构建逻辑
        run: npm run build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload EXE
        uses: actions/upload-artifact@v3
        with:
          name: LogVPN-Windows-Package
          path: release/*.exe
